@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rf207z");
  src: url("../fonts/icomoon.eot?rf207z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rf207z") format("truetype"), url("../fonts/icomoon.woff?rf207z") format("woff"), url("../fonts/icomoon.svg?rf207z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chat:before {
  content: "\e900"; }

.icon-down:before {
  content: "\e901"; }

.icon-avatar:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e903"; }

.icon-envelope:before {
  content: "\e904"; }

.icon-facebook-social-symbol:before {
  content: "\e905"; }

.icon-info:before {
  content: "\e906"; }

.icon-linkedin-logo:before {
  content: "\e907"; }

.icon-phone-call:before {
  content: "\e908"; }

.icon-right-quotation-mark-2:before {
  content: "\e909"; }

.icon-share:before {
  content: "\e90a"; }

.icon-twitter-logo-silhouette:before {
  content: "\e90b"; }

/*# sourceMappingURL=icons.css.map */
