@import "mixins";
@import "icons";
@import "colors";
@include font-import('BrandonGrotesque-Bold');
@include font-import('BrandonGrotesque-Regular');



$i: 5;
@while $i < 65 {
  .top#{$i} { margin-top: $i+px; }
  $i: $i + 5;
}

$i: 5;
@while $i < 65 {
  .line#{$i} { line-height: $i+px; }
  $i: $i + 5;
}


$i: 10;
@while $i < 32 {
  .size#{$i} { font-size: $i+px; }
  $i: $i + 1;
}

.relative{
  position:relative;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a{
  color: #333;
  text-decoration: none;
  font-family: 'BrandonGrotesque-Bold';
  transition: 0.3s all;
}

body{
  font-family: 'BrandonGrotesque-Regular';
  color: $textColor;
  font-size: 14px;
  &.main{
    background: url("../images/main-bg.jpg");
    background-size: cover;
    background-position: center center;
  }
  img{
    max-width: 100%;
  }
}



h1{
  font-family: 'BrandonGrotesque-Bold';
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
  &.blue{
    color: $blue;
  }

}

.text-gray{
  color: $lightTextColor;
}

p {
  margin: 0 0 20px;
}

button{
  &:active, &:focus, &:hover, &:active:focus{
    outline: none;
    box-shadow:none;
  }
}

.btn{
  font-family: 'BrandonGrotesque-Bold';
  text-transform: uppercase;
  padding: 11px 30px;

  &:active, &:focus, &:hover, &:active:focus{
    outline: none;
    box-shadow:none;
  }
  &.btn-rounded{
    border-radius: 40px;
  }
  &.btn-border{
    border: 1px solid #333;
    background: #fff;
    transition: 0.3s all;
    color: #333;
  }
  &.btn-full{
    color: #fff;

    &.btn-red{
      box-shadow: 0 0 0 7px rgba(255,0,0,0.2);
      background: $red;
      transition: 0.3s all;
      &:hover, &:active, &:focus{
        background: #ff4e64;
        box-shadow: 0 0 0 10px rgba(255,0,0,0.05);
      }
    }
  }
}

.form-group {
  position: relative;
  i{
    position: absolute;
    color: #949494;
    font-size: 16px;
    top: 11px;
    left: 8px;
  }

  .clear-input{
    @include icon();
    position: absolute;
    top: 14px;
    right: 10px;
    color: #333;
    font-size: 11px;
    cursor: pointer;
    &:before {
      content: "\e903";
    }
  }
}

textarea{
  padding: 0!important;
  resize: none;
}

.form-control {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 34px;
  line-height: 42px;
  height: 38px;
  &:focus {
    border-color: #eee;
    box-shadow: none;
  }
}


.main-page{

  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 90px;

  .logo{
    width: 300px;
  }

  .text{
    width: 450px;
    display: table;
    margin: 0 auto;
    font-size: 16px;
  }
  .btn{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .block{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

header{
  display: none;
}

aside{
  position: absolute;
  top:0;
  left: 0;
  background: #fff;
  width: 73px;
  height: 100%;
  overflow: hidden;
  padding: 20px 0px;
  transition: 0.3s all;
  z-index: 10;
  .border-menu{
    width: 3px;
    height: 25%;
    position: absolute;
    right: 0;
    &.blue{
      background: $blue;
      top:0;
    }

    &.red{
      background: $red;
      top:25%;
    }

    &.yellow{
      background: $yellow;
      top:50%;
    }

    &.green{
      background: $green;
      top:75%;
    }
  }

  .socials-wrapper,.big-icon{
    display: none;
  }

  .nav{
    position: absolute;
    width: calc(100% - 3px);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    &>li {
      & > a {
        display: block;
        width: 100%;
        position: relative;
        padding: 15px 15px;

        font-family: 'BrandonGrotesque-Regular';
        &:hover, &:active, &:focus {
          background: transparent;
        }
        .icon {
          opacity: 0.3;
          transition: 0.3s all;
          text-align: center;
          display: block;
          width: 40px;
          img {
            width: 25px;
          }
        }

        .text {
          position: absolute;
          left: -100%;
          opacity: 0;
          transition: 0.3s all;
          top: 17px;
          text-transform: uppercase;
          color: #333;
        }
      }
      &.active{
        &>a{
          .icon {
            opacity: 1;
          }
        }
      }
    }
  }

  .logo{
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    img{
      width: 100%;
    }
  }
  .share {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    left: 22px;
    color: $menuIcon;
  }

  &:hover{
    width: 263px;
    .small-icon{
      display: none;
    }
    .big-icon{
      display: block;
    }
    .nav{

      width: calc(100% - 20px);

      &>li.active{
        &>a{
          &:hover, &:active, &:focus {
            .icon {
              opacity: 1;
            }
          }
        }
      }
      &>li>a {
        text-align: left;
        .icon{
          margin-left: 15px;
        }

        &:before{
          content: "";
          display: block;
          position: absolute;
          top:0;
          width: 100%;
          height:100%;
          left: -100%;
          opacity: 0;
          transition: 0.3s all;
          background: #f5f4f3;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }

        &:hover, &:active, &:focus {
          &:before{
            opacity: 0.3;
            left:0;
          }
        }
      }
      .text{
        left: 80px;
        opacity: 1;
      }
    }
    .socials-wrapper{
      text-align: center;
      color: $lightTextColor;
      font-size: 12px;
      display: block;
      position: absolute;
      bottom: 20px;
      width: 100%;
      left: -3px;
    }
  }
}


.socials {
  list-style-type: none;
  display: table;
  margin: 15px auto;
  padding: 0;
  li{
    float: left;
    border-radius: 50%;
    background: #f5f4f3;
    width: 40px;
    height:40px;
    @include centerIn();
    transition: 0.3s all;
    cursor: pointer;
    &~li{
      margin-left: 20px;
    }
    img{
      width: 20px;
      opacity: 0.2;
      transition: 0.3s all;
    }
  }
}


.clients {
  display: table;
  margin: 30px auto;
  .item,.client-item{
    filter: grayscale(100%);
    opacity: 0.4;
    margin: 20px 30px;
    transition: 0.3s all;
    display: block;
    float: left;
    &:hover{
      filter: grayscale(0%);
      opacity: 1;
      text-decoration: none;

    }
  }

  .client-item{
    margin: 20px 10px;
    width: calc(33.33% - 20px);
    min-height: 100px;
    text-align: center;
    @include centerIn();
  }
}

.page{
  .down{
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background: #fff;
    width: 57px;
    height: 35px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    color: #ddd;
    padding: 9px 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all;
    &.active{
      opacity: 1;
      bottom: 0;
    }
  }

  .up{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background: #fff;
    width: 57px;
    height: 35px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    color: #ddd;
    padding: 5px 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all;
    i{
      transform: rotate(180deg);
      display: block;
    }
    &.active{
      opacity: 1;
      top: 0;
    }
  }
  .image{
    display: table-cell;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: 0.3s all;
    vertical-align: middle;
    position: relative;
    text-align: center;

    .map{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }
    video{
      display: none;
    }


    .close-video{
      background: #ffdd00;
      position: fixed;
      top: -60px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      right: -60px;
      z-index: 10;
      color: #fff;
      border: 0;
      box-shadow: 0 0 0 15px rgba(255, 221, 0, 0.4);
      font-size: 17px;
      padding: 50px 50px 0 0px;
      opacity: 0;
      transition: 0.3s all;
    }
  }
  .info{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 0 10%;
    font-size: 16px;
    .text{
      &> ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          position: relative;
          margin-bottom: 20px;
          padding-left: 50px;
          &:before{
            content: "";
            height: 2px;
            width: 20px;
            position: absolute;
            top:10px;
            left: 10px;
            background: #ddd;
          }
        }
      }
    }
  }

  .subtitle{
    color: $lightTextColor;
    position: relative;
    padding: 10px 0px;
    &:before{
      content: "";
      width: 200px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }


  .item{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    display: table;
    &.active{
      top:0!important;
      &.play-video{
        .image{
          width: 100%;
          z-index: 9;
          height: 100%;
          position: fixed;
          .poster{
            display:none;
          }
          video{
            display: block;
          }
          .close-video{
            opacity: 1;
          }
        }
      }
    }
  }

  &.red{
    .btn-border{
      border-color: $red;
      &:active, &:focus, &:hover, &:active:focus{
        color: #fff;
        background-color: $red;
      }
    }

    .subtitle{
      &:before{
        background: $red;
      }
    }

    .form-control:focus {
      border-color: $red;
    }
    .slider-navigation li.active{
      background: $red;
    }

    .text ul li:before{
      background: $red;
    }

    .icon-round{
      &:before,&:after{
        background: $red;
      }
    }

    a:hover{
      text-decoration: none;
      color: $red;
    }



    .socials {
      li{
        &:hover{
          background: $red;
          img{
            opacity: 1;
          }
        }

      }
    }

  }


  &.yellow{
    .btn-border{
      border-color: $yellow;
      &:active, &:focus, &:hover, &:active:focus{
        color: #fff;
        background-color: $yellow;
      }
    }

    .subtitle{
      &:before{
        background: $yellow;
      }
    }

    .form-control:focus {
      border-color: $yellow;
    }
    .slider-navigation li.active{
      background: $yellow;
    }

    .text ul li:before{
      background: $yellow;
    }
    .icon-round{
      &:before,&:after{
        background: $yellow;
      }
    }

    a:hover{
      text-decoration: none;
      color: $yellow;
    }
  }

  &.green{
    .btn-border{
      border-color: $green;
      &:active, &:focus, &:hover, &:active:focus{
        color: #fff;
        background-color: $green;
      }
    }

    .subtitle{
      &:before{
        background: $green;
      }
    }

    .form-control:focus {
      border-color: $green;
    }
    .slider-navigation li.active{
      background: $green;
    }

    .text ul li:before{
      background: $green;
    }
    .icon-round{
      &:before,&:after{
        background: $green;
      }
    }

    a:hover{
      text-decoration: none;
      color: $green;
    }
  }

  &.blue{
    .btn-border{
      border-color: $blue;
      &:active, &:focus, &:hover, &:active:focus{
        color: #fff;
        background-color: $blue;
      }
    }

    .subtitle{
      &:before{
        background: $blue;
      }
    }

    .form-control:focus {
      border-color: $blue;
    }
    .slider-navigation li.active{
      background: $blue;
    }

    .text ul li:before{
      background: $blue;
    }

    .icon-round{
      &:before,&:after{
        background: $blue;
      }
    }

    a:hover{
      text-decoration: none;
      color: $blue;
    }
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

.slider-navigation{

  padding: 9px 7px;
  margin: 0;
  list-style-type: none;


  &.main-slider-navigation{
    border-radius: 50px;
    width: 27px;
    position: absolute;
    left: 50%;
    top:50%;
    background: #fff;
    transform: translateY(-50%) translateX(-50%);
    z-index: 8;
    box-shadow: -1px 0px 3px rgba(0,0,0,0.1);
    li~li{
      margin-top: 9px;
    }
  }

  li{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    cursor: pointer;
    background: #dcdcdc;
  }

  &.inner-slider-navigation{
    display: table;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    li{
      float: left;
      &~li{
        margin-left: 9px;
      }
    }
  }

}

.video-btn {
  display: none;
  background: url("../images/color-circle.png");
  background-position: center center;
  background-size: cover;
  border: none;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  padding: 0;
  outline: none;
  opacity: 0.5;
  &.stop {
    opacity: 1;
    display: inline-block;
  }
}



.icon-round{
  background: #f3f3f3;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fbfbfb;
  font-size: 42px;
  position: relative;
  @include centerIn();
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -5px;
  }

  &:after{
    content: '';
    width: 26px;
    height: 26px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: -11px;
  }

  &+.text-gray{
    padding-left: 135px;
  }
}


.slider-inner{
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
  .slider-wrapper{
    transition: 0.3s all;

  }
  .slide{
    display: inline-block;
    width: 100%;
    &.active{
      left: 0!important;
    }
  }

  .prev{
    background: url(../images/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 61px;
    height: 20px;
    position: absolute;
    left: -100%;
    bottom: 28px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all;
    &:before{
      content: "";
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: 1px solid #00c1a8;
      position: absolute;
      top: -12px;
      left: -15px;
    }

    &.active{
      left:16px;
      opacity: 1;
    }
  }

  .next{
    background: url(../images/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 61px;
    height: 20px;
    position: absolute;
    right: -100%;
    bottom: 28px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all;
    &:before{
      content: "";
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: 1px solid #00c1a8;
      position: absolute;
      top: -12px;
      right: -15px;
    }

    &.active{
      right: 16px;
      opacity: 1;
    }
  }
}

.table-cells{
  display: table;
  margin: 20px auto;

  width: 100%;
  .table-cell{
    display: table-cell;
    float: none;
    vertical-align: middle;
    &:first-of-type{
      width: 135px;
      vertical-align: top;
    }
  }
}


.sm-icon{
  .icon-round{
    background: #f3f3f3;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #fbfbfb;
    font-size: 42px;
    position: relative;
    @include centerIn();
    float: left;
    margin-top: 15px;
    margin-left: 20px;

    img{
      max-width: 40px;
      max-height: 40px;
    }
    &:before{
      content: '';
      width: 12px;
      height: 12px;
      box-shadow: 0 0 0 2px #fff;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: -5px;
    }

    &:after{
      content: '';
      width: 26px;
      height: 26px;
      box-shadow: 0 0 0 2px #fff;
      display: block;
      border-radius: 50%;
      position: absolute;
      bottom: -1px;
      left: -11px;
    }

    &+.text-gray{
      padding-left: 135px;
    }
  }

}

.modal {
  .modal-content {
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    border: 0;
    border-radius: 0;
    color: #fff;

    padding: 40px;
    h4{
      font-size: 26px;
      text-transform: uppercase;
      font-family: 'BrandonGrotesque-Bold';
      position: relative;
      padding: 20px 0px;

      &:before{
        content: "";
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 200px;
        height: 1px;
        margin-left: -100px;
        display: block;
      }
    }

    .btn-rounded{
      background: #fff;
    }

    .close{
      color: #fff;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;
    }
  }

  .modal-header {
    padding: 25px;
    border: 0;
  }

  &.red{
    .modal-content {
      background: $red;
    }

    .btn-rounded{
      color: $red;
    }
  }

  &.yellow{
    .modal-content {
      background: $yellow;
    }

    .btn-rounded{
      color: $yellow;
    }
  }

  &.green{
    .modal-content {
      background: $green;
    }

    .btn-rounded{
      color: $green;
    }
  }

  &.blue{
    .modal-content {
      background: $blue;
    }

    .btn-rounded{
      color: $blue;
    }
  }
}



.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
  background: #fff;
}

@import "media";
