@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rf207z");
  src: url("../fonts/icomoon.eot?rf207z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rf207z") format("truetype"), url("../fonts/icomoon.woff?rf207z") format("woff"), url("../fonts/icomoon.svg?rf207z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chat:before {
  content: "\e900"; }

.icon-down:before {
  content: "\e901"; }

.icon-avatar:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e903"; }

.icon-envelope:before {
  content: "\e904"; }

.icon-facebook-social-symbol:before {
  content: "\e905"; }

.icon-info:before {
  content: "\e906"; }

.icon-linkedin-logo:before {
  content: "\e907"; }

.icon-phone-call:before {
  content: "\e908"; }

.icon-right-quotation-mark-2:before {
  content: "\e909"; }

.icon-share:before {
  content: "\e90a"; }

.icon-twitter-logo-silhouette:before {
  content: "\e90b"; }

@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url("../fonts/BrandonGrotesque-Bold.eot");
  src: url("../fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Bold.ttf") format("truetype"), url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: url("../fonts/BrandonGrotesque-Regular.eot");
  src: url("../fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype"), url("../fonts/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque-Regular.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal; }
.top5 {
  margin-top: 5px; }

.top10 {
  margin-top: 10px; }

.top15 {
  margin-top: 15px; }

.top20 {
  margin-top: 20px; }

.top25 {
  margin-top: 25px; }

.top30 {
  margin-top: 30px; }

.top35 {
  margin-top: 35px; }

.top40 {
  margin-top: 40px; }

.top45 {
  margin-top: 45px; }

.top50 {
  margin-top: 50px; }

.top55 {
  margin-top: 55px; }

.top60 {
  margin-top: 60px; }

.line5 {
  line-height: 5px; }

.line10 {
  line-height: 10px; }

.line15 {
  line-height: 15px; }

.line20 {
  line-height: 20px; }

.line25 {
  line-height: 25px; }

.line30 {
  line-height: 30px; }

.line35 {
  line-height: 35px; }

.line40 {
  line-height: 40px; }

.line45 {
  line-height: 45px; }

.line50 {
  line-height: 50px; }

.line55 {
  line-height: 55px; }

.line60 {
  line-height: 60px; }

.size10 {
  font-size: 10px; }

.size11 {
  font-size: 11px; }

.size12 {
  font-size: 12px; }

.size13 {
  font-size: 13px; }

.size14 {
  font-size: 14px; }

.size15 {
  font-size: 15px; }

.size16 {
  font-size: 16px; }

.size17 {
  font-size: 17px; }

.size18 {
  font-size: 18px; }

.size19 {
  font-size: 19px; }

.size20 {
  font-size: 20px; }

.size21 {
  font-size: 21px; }

.size22 {
  font-size: 22px; }

.size23 {
  font-size: 23px; }

.size24 {
  font-size: 24px; }

.size25 {
  font-size: 25px; }

.size26 {
  font-size: 26px; }

.size27 {
  font-size: 27px; }

.size28 {
  font-size: 28px; }

.size29 {
  font-size: 29px; }

.size30 {
  font-size: 30px; }

.size31 {
  font-size: 31px; }

.relative {
  position: relative; }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

a {
  color: #333;
  text-decoration: none;
  font-family: 'BrandonGrotesque-Bold';
  transition: 0.3s all; }

body {
  font-family: 'BrandonGrotesque-Regular';
  color: #333333;
  font-size: 14px; }
  body.main {
    background: url("../images/main-bg.jpg");
    background-size: cover;
    background-position: center center; }
  body img {
    max-width: 100%; }

h1 {
  font-family: 'BrandonGrotesque-Bold';
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  h1.blue {
    color: #00b8e0; }

.text-gray {
  color: #cacaca; }

p {
  margin: 0 0 20px; }

button:active, button:focus, button:hover, button:active:focus {
  outline: none;
  box-shadow: none; }

.btn {
  font-family: 'BrandonGrotesque-Bold';
  text-transform: uppercase;
  padding: 11px 30px; }
  .btn:active, .btn:focus, .btn:hover, .btn:active:focus {
    outline: none;
    box-shadow: none; }
  .btn.btn-rounded {
    border-radius: 40px; }
  .btn.btn-border {
    border: 1px solid #333;
    background: #fff;
    transition: 0.3s all;
    color: #333; }
  .btn.btn-full {
    color: #fff; }
    .btn.btn-full.btn-red {
      box-shadow: 0 0 0 7px rgba(255, 0, 0, 0.2);
      background: #ff0041;
      transition: 0.3s all; }
      .btn.btn-full.btn-red:hover, .btn.btn-full.btn-red:active, .btn.btn-full.btn-red:focus {
        background: #ff4e64;
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.05); }

.form-group {
  position: relative; }
  .form-group i {
    position: absolute;
    color: #949494;
    font-size: 16px;
    top: 11px;
    left: 8px; }
  .form-group .clear-input {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 14px;
    right: 10px;
    color: #333;
    font-size: 11px;
    cursor: pointer; }
    .form-group .clear-input:before {
      content: "\e903"; }

textarea {
  padding: 0 !important;
  resize: none; }

.form-control {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 34px;
  line-height: 42px;
  height: 38px; }
  .form-control:focus {
    border-color: #eee;
    box-shadow: none; }

.main-page {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 90px; }
  .main-page .logo {
    width: 300px; }
  .main-page .text {
    width: 450px;
    display: table;
    margin: 0 auto;
    font-size: 16px; }
  .main-page .btn {
    margin-top: 30px;
    margin-bottom: 30px; }
  .main-page .block {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); }

header {
  display: none; }

aside {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 73px;
  height: 100%;
  overflow: hidden;
  padding: 20px 0px;
  transition: 0.3s all;
  z-index: 10; }
  aside .border-menu {
    width: 3px;
    height: 25%;
    position: absolute;
    right: 0; }
    aside .border-menu.blue {
      background: #00b8e0;
      top: 0; }
    aside .border-menu.red {
      background: #ff0041;
      top: 25%; }
    aside .border-menu.yellow {
      background: #ffdd00;
      top: 50%; }
    aside .border-menu.green {
      background: #00c1a8;
      top: 75%; }
  aside .socials-wrapper, aside .big-icon {
    display: none; }
  aside .nav {
    position: absolute;
    width: calc(100% - 3px);
    top: 50%;
    transform: translateY(-50%);
    left: 0; }
    aside .nav > li > a {
      display: block;
      width: 100%;
      position: relative;
      padding: 15px 15px;
      font-family: 'BrandonGrotesque-Regular'; }
      aside .nav > li > a:hover, aside .nav > li > a:active, aside .nav > li > a:focus {
        background: transparent; }
      aside .nav > li > a .icon {
        opacity: 0.3;
        transition: 0.3s all;
        text-align: center;
        display: block;
        width: 40px; }
        aside .nav > li > a .icon img {
          width: 25px; }
      aside .nav > li > a .text {
        position: absolute;
        left: -100%;
        opacity: 0;
        transition: 0.3s all;
        top: 17px;
        text-transform: uppercase;
        color: #333; }
    aside .nav > li.active > a .icon {
      opacity: 1; }
  aside .logo {
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0; }
    aside .logo img {
      width: 100%; }
  aside .share {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    left: 22px;
    color: #a7a6a7; }
  aside:hover {
    width: 263px; }
    aside:hover .small-icon {
      display: none; }
    aside:hover .big-icon {
      display: block; }
    aside:hover .nav {
      width: calc(100% - 20px); }
      aside:hover .nav > li.active > a:hover .icon, aside:hover .nav > li.active > a:active .icon, aside:hover .nav > li.active > a:focus .icon {
        opacity: 1; }
      aside:hover .nav > li > a {
        text-align: left; }
        aside:hover .nav > li > a .icon {
          margin-left: 15px; }
        aside:hover .nav > li > a:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          left: -100%;
          opacity: 0;
          transition: 0.3s all;
          background: #f5f4f3;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px; }
        aside:hover .nav > li > a:hover:before, aside:hover .nav > li > a:active:before, aside:hover .nav > li > a:focus:before {
          opacity: 0.3;
          left: 0; }
      aside:hover .nav .text {
        left: 80px;
        opacity: 1; }
    aside:hover .socials-wrapper {
      text-align: center;
      color: #cacaca;
      font-size: 12px;
      display: block;
      position: absolute;
      bottom: 20px;
      width: 100%;
      left: -3px; }

.socials {
  list-style-type: none;
  display: table;
  margin: 15px auto;
  padding: 0; }
  .socials li {
    float: left;
    border-radius: 50%;
    background: #f5f4f3;
    width: 40px;
    height: 40px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer; }
    .socials li ~ li {
      margin-left: 20px; }
    .socials li img {
      width: 20px;
      opacity: 0.2;
      transition: 0.3s all; }

.clients {
  display: table;
  margin: 30px auto; }
  .clients .item, .clients .client-item {
    filter: grayscale(100%);
    opacity: 0.4;
    margin: 20px 30px;
    transition: 0.3s all;
    display: block;
    float: left; }
    .clients .item:hover, .clients .client-item:hover {
      filter: grayscale(0%);
      opacity: 1;
      text-decoration: none; }
  .clients .client-item {
    margin: 20px 10px;
    width: calc(33.33% - 20px);
    min-height: 100px;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

.page .down {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  background: #fff;
  width: 57px;
  height: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  color: #ddd;
  padding: 9px 0;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all; }
  .page .down.active {
    opacity: 1;
    bottom: 0; }
.page .up {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background: #fff;
  width: 57px;
  height: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  color: #ddd;
  padding: 5px 0;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all; }
  .page .up i {
    transform: rotate(180deg);
    display: block; }
  .page .up.active {
    opacity: 1;
    top: 0; }
.page .image {
  display: table-cell;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: 0.3s all;
  vertical-align: middle;
  position: relative;
  text-align: center; }
  .page .image .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .page .image video {
    display: none; }
  .page .image .close-video {
    background: #ffdd00;
    position: fixed;
    top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    right: -60px;
    z-index: 10;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 15px rgba(255, 221, 0, 0.4);
    font-size: 17px;
    padding: 50px 50px 0 0px;
    opacity: 0;
    transition: 0.3s all; }
.page .info {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  background: #fff;
  padding: 0 10%;
  font-size: 16px; }
  .page .info .text > ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .page .info .text > ul li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 50px; }
      .page .info .text > ul li:before {
        content: "";
        height: 2px;
        width: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
        background: #ddd; }
.page .subtitle {
  color: #cacaca;
  position: relative;
  padding: 10px 0px; }
  .page .subtitle:before {
    content: "";
    width: 200px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }
.page .item {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  display: table; }
  .page .item.active {
    top: 0 !important; }
    .page .item.active.play-video .image {
      width: 100%;
      z-index: 9;
      height: 100%;
      position: fixed; }
      .page .item.active.play-video .image .poster {
        display: none; }
      .page .item.active.play-video .image video {
        display: block; }
      .page .item.active.play-video .image .close-video {
        opacity: 1; }
.page.red .btn-border {
  border-color: #ff0041; }
  .page.red .btn-border:active, .page.red .btn-border:focus, .page.red .btn-border:hover, .page.red .btn-border:active:focus {
    color: #fff;
    background-color: #ff0041; }
.page.red .subtitle:before {
  background: #ff0041; }
.page.red .form-control:focus {
  border-color: #ff0041; }
.page.red .slider-navigation li.active {
  background: #ff0041; }
.page.red .text ul li:before {
  background: #ff0041; }
.page.red .icon-round:before, .page.red .icon-round:after {
  background: #ff0041; }
.page.red a:hover {
  text-decoration: none;
  color: #ff0041; }
.page.red .socials li:hover {
  background: #ff0041; }
  .page.red .socials li:hover img {
    opacity: 1; }
.page.yellow .btn-border {
  border-color: #ffdd00; }
  .page.yellow .btn-border:active, .page.yellow .btn-border:focus, .page.yellow .btn-border:hover, .page.yellow .btn-border:active:focus {
    color: #fff;
    background-color: #ffdd00; }
.page.yellow .subtitle:before {
  background: #ffdd00; }
.page.yellow .form-control:focus {
  border-color: #ffdd00; }
.page.yellow .slider-navigation li.active {
  background: #ffdd00; }
.page.yellow .text ul li:before {
  background: #ffdd00; }
.page.yellow .icon-round:before, .page.yellow .icon-round:after {
  background: #ffdd00; }
.page.yellow a:hover {
  text-decoration: none;
  color: #ffdd00; }
.page.green .btn-border {
  border-color: #00c1a8; }
  .page.green .btn-border:active, .page.green .btn-border:focus, .page.green .btn-border:hover, .page.green .btn-border:active:focus {
    color: #fff;
    background-color: #00c1a8; }
.page.green .subtitle:before {
  background: #00c1a8; }
.page.green .form-control:focus {
  border-color: #00c1a8; }
.page.green .slider-navigation li.active {
  background: #00c1a8; }
.page.green .text ul li:before {
  background: #00c1a8; }
.page.green .icon-round:before, .page.green .icon-round:after {
  background: #00c1a8; }
.page.green a:hover {
  text-decoration: none;
  color: #00c1a8; }
.page.blue .btn-border {
  border-color: #00b8e0; }
  .page.blue .btn-border:active, .page.blue .btn-border:focus, .page.blue .btn-border:hover, .page.blue .btn-border:active:focus {
    color: #fff;
    background-color: #00b8e0; }
.page.blue .subtitle:before {
  background: #00b8e0; }
.page.blue .form-control:focus {
  border-color: #00b8e0; }
.page.blue .slider-navigation li.active {
  background: #00b8e0; }
.page.blue .text ul li:before {
  background: #00b8e0; }
.page.blue .icon-round:before, .page.blue .icon-round:after {
  background: #00b8e0; }
.page.blue a:hover {
  text-decoration: none;
  color: #00b8e0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.slider-navigation {
  padding: 9px 7px;
  margin: 0;
  list-style-type: none; }
  .slider-navigation.main-slider-navigation {
    border-radius: 50px;
    width: 27px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translateY(-50%) translateX(-50%);
    z-index: 8;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1); }
    .slider-navigation.main-slider-navigation li ~ li {
      margin-top: 9px; }
  .slider-navigation li {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    cursor: pointer;
    background: #dcdcdc; }
  .slider-navigation.inner-slider-navigation {
    display: table;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); }
    .slider-navigation.inner-slider-navigation li {
      float: left; }
      .slider-navigation.inner-slider-navigation li ~ li {
        margin-left: 9px; }

.video-btn {
  display: none;
  background: url("../images/color-circle.png");
  background-position: center center;
  background-size: cover;
  border: none;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  padding: 0;
  outline: none;
  opacity: 0.5; }
  .video-btn.stop {
    opacity: 1;
    display: inline-block; }

.icon-round {
  background: #f3f3f3;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fbfbfb;
  font-size: 42px;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  float: left;
  margin-top: 15px;
  margin-left: 20px; }
  .icon-round:before {
    content: '';
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -5px; }
  .icon-round:after {
    content: '';
    width: 26px;
    height: 26px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: -11px; }
  .icon-round + .text-gray {
    padding-left: 135px; }

.slider-inner {
  position: relative;
  padding-bottom: 100px;
  overflow: hidden; }
  .slider-inner .slider-wrapper {
    transition: 0.3s all; }
  .slider-inner .slide {
    display: inline-block;
    width: 100%; }
    .slider-inner .slide.active {
      left: 0 !important; }
  .slider-inner .prev {
    background: url(../images/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 61px;
    height: 20px;
    position: absolute;
    left: -100%;
    bottom: 28px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all; }
    .slider-inner .prev:before {
      content: "";
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: 1px solid #00c1a8;
      position: absolute;
      top: -12px;
      left: -15px; }
    .slider-inner .prev.active {
      left: 16px;
      opacity: 1; }
  .slider-inner .next {
    background: url(../images/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 61px;
    height: 20px;
    position: absolute;
    right: -100%;
    bottom: 28px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all; }
    .slider-inner .next:before {
      content: "";
      border-radius: 50%;
      width: 45px;
      height: 45px;
      border: 1px solid #00c1a8;
      position: absolute;
      top: -12px;
      right: -15px; }
    .slider-inner .next.active {
      right: 16px;
      opacity: 1; }

.table-cells {
  display: table;
  margin: 20px auto;
  width: 100%; }
  .table-cells .table-cell {
    display: table-cell;
    float: none;
    vertical-align: middle; }
    .table-cells .table-cell:first-of-type {
      width: 135px;
      vertical-align: top; }

.sm-icon .icon-round {
  background: #f3f3f3;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px #fbfbfb;
  font-size: 42px;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  float: left;
  margin-top: 15px;
  margin-left: 20px; }
  .sm-icon .icon-round img {
    max-width: 40px;
    max-height: 40px; }
  .sm-icon .icon-round:before {
    content: '';
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -5px; }
  .sm-icon .icon-round:after {
    content: '';
    width: 26px;
    height: 26px;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: -11px; }
  .sm-icon .icon-round + .text-gray {
    padding-left: 135px; }

.modal .modal-content {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0;
  color: #fff;
  padding: 40px; }
  .modal .modal-content h4 {
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'BrandonGrotesque-Bold';
    position: relative;
    padding: 20px 0px; }
    .modal .modal-content h4:before {
      content: "";
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 200px;
      height: 1px;
      margin-left: -100px;
      display: block; }
  .modal .modal-content .btn-rounded {
    background: #fff; }
  .modal .modal-content .close {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px; }
.modal .modal-header {
  padding: 25px;
  border: 0; }
.modal.red .modal-content {
  background: #ff0041; }
.modal.red .btn-rounded {
  color: #ff0041; }
.modal.yellow .modal-content {
  background: #ffdd00; }
.modal.yellow .btn-rounded {
  color: #ffdd00; }
.modal.green .modal-content {
  background: #00c1a8; }
.modal.green .btn-rounded {
  color: #00c1a8; }
.modal.blue .modal-content {
  background: #00b8e0; }
.modal.blue .btn-rounded {
  color: #00b8e0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
  background: #fff; }

@media (max-width: 1370px) {
  h1 {
    font-size: 26px; }

  .page .info {
    padding: 5%;
    font-size: 14px; } }
@media (max-height: 630px), (max-width: 995px) {
  html {
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: inherit; }

  header {
    position: absolute;
    top: 0;
    background: #fff;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 11;
    display: block;
    padding: 5px 8px; }
    header .logo img {
      width: 38px; }
    header .menu-btn {
      float: right;
      border: 0;
      background: transparent;
      margin: 7px 5px; }
      header .menu-btn span {
        width: 22px;
        height: 3px;
        border-radius: 2px;
        background: #a7a6a7;
        display: block;
        transition: 0.3s all; }
        header .menu-btn span:nth-of-type(2) {
          width: 15px; }
        header .menu-btn span ~ span {
          margin-top: 5px; }
      header .menu-btn.active span:nth-of-type(1) {
        transform: rotate(45deg);
        margin: 7px 0px -8px 0px; }
      header .menu-btn.active span:nth-of-type(3) {
        transform: rotate(-45deg); }
      header .menu-btn.active span:nth-of-type(2) {
        width: 0;
        height: 0; }

  aside, aside:hover {
    left: -100%;
    position: fixed;
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
    overflow: auto; }
    aside .small-icon, aside:hover .small-icon {
      display: none; }
    aside .logo, aside:hover .logo {
      text-align: center;
      position: relative;
      width: 100%;
      display: none; }
      aside .logo img, aside:hover .logo img {
        width: 180px; }
    aside .big-icon, aside:hover .big-icon {
      display: inline-block; }
    aside .nav, aside:hover .nav {
      position: relative;
      top: 0;
      transform: none; }
      aside .nav > li > a, aside:hover .nav > li > a {
        text-align: left; }
        aside .nav > li > a .icon, aside:hover .nav > li > a .icon {
          margin-left: 15px; }
        aside .nav > li > a:before, aside:hover .nav > li > a:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          left: -100%;
          opacity: 0;
          transition: 0.3s all;
          background: #f5f4f3;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px; }
        aside .nav > li > a:hover:before, aside .nav > li > a:active:before, aside .nav > li > a:focus:before, aside:hover .nav > li > a:hover:before, aside:hover .nav > li > a:active:before, aside:hover .nav > li > a:focus:before {
          opacity: 1;
          left: 0; }
      aside .nav .text, aside:hover .nav .text {
        left: 80px;
        opacity: 1; }
    aside .socials-wrapper, aside:hover .socials-wrapper {
      text-align: center;
      color: #cacaca;
      font-size: 12px;
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
      left: -3px;
      padding: 20px 0; }
    aside.active, aside:hover.active {
      left: 0; }

  .main-page {
    position: relative;
    height: auto;
    padding: 70px 0; }
    .main-page .block {
      position: relative;
      transform: none; }

  .page .slider-navigation, .page .down, .page .subtitle {
    display: none; }
  .page .image {
    position: relative;
    width: 100%;
    height: 620px;
    margin-top: 50px;
    display: block; }
  .page .info {
    position: relative;
    width: 100%;
    margin-top: -210px;
    display: block; }
  .page .item {
    position: relative;
    top: 0 !important;
    opacity: 1; } }
@media (max-width: 630px) {
  .main-page .text {
    width: 100%;
    padding: 0 20px; }

  .clients .item {
    width: calc(50% - 60px);
    text-align: center; }
    .clients .item img {
      max-width: 100%; }
  .clients .client-item {
    width: calc(50% - 20px); } }

/*# sourceMappingURL=main.css.map */
