
@media (max-width: 1370px) {
  h1{
    font-size: 26px;
  }
  .page{
    .info{
      padding: 5%;
      font-size: 14px;
    }
  }

}
@media (max-height: 630px) , (max-width: 995px) {

  html {
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: inherit;
  }


  header{
    position: absolute;
    top:0;
    background: #fff;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 11;
    display: block;
    padding: 5px 8px;
    .logo{
      img {
        width: 38px;
      }
    }

    .menu-btn {
      float: right;
      border: 0;
      background: transparent;
      margin: 7px 5px;
      span{
        width: 22px;
        height: 3px;
        border-radius: 2px;
        background: $menuIcon;
        display: block;
        transition: 0.3s all;
        &:nth-of-type(2){
          width: 15px;
        }
        &~span{
          margin-top: 5px;
        }
      }
      &.active{
        span{
          &:nth-of-type(1){
            transform: rotate(45deg);
            margin: 7px 0px -8px 0px;
          }

          &:nth-of-type(3){
            transform: rotate(-45deg);
          }
          &:nth-of-type(2){
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
  aside, aside:hover {
    left:-100%;
    position: fixed;
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    .small-icon{
      display: none;
    }

    .logo {
      text-align: center;
      position: relative;
      width: 100%;
      display: none;
      img {
        width: 180px;
      }
    }
    .big-icon{
      display: inline-block;
    }
    .nav{
      position: relative;
      top: 0;
      transform: none;
      &>li>a {
        text-align: left;
        .icon{
          margin-left: 15px;
        }

        &:before{
          content: "";
          display: block;
          position: absolute;
          top:0;
          width: 100%;
          height:100%;
          left: -100%;
          opacity: 0;
          transition: 0.3s all;
          background: #f5f4f3;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }

        &:hover, &:active, &:focus {
          &:before{
            opacity: 1;
            left:0;
          }
        }
      }
      .text{
        left: 80px;
        opacity: 1;
      }
    }
    .socials-wrapper{
      text-align: center;
      color: $lightTextColor;
      font-size: 12px;
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
      left: -3px;
      padding: 20px 0;
    }
    &.active{
      left: 0;
    }
  }

  .main-page{
    position: relative;
    height: auto;
    padding: 70px 0;
    .block{
      position: relative;
      transform: none;
    }
  }


  .page {
    .slider-navigation, .down, .subtitle{
      display: none;
    }
    .image {
      position: relative;
      width: 100%;
      height: 620px;
      margin-top: 50px;
      display: block;
    }

    .info {
      position: relative;
      width: 100%;
      margin-top: -210px;

      display: block;
    }

    .item{
      position: relative;
      top: 0!important;
      opacity: 1;
    }
  }

}

@media (max-width: 630px) {
  .main-page .text {
    width: 100%;
    padding: 0 20px;
  }
  .clients{
    .item{
      width: calc(50% - 60px);
      text-align: center;
      img{
        max-width: 100%;
      }
    }
    .client-item{
      width: calc(50% - 20px);
    }
  }
}